@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Roboto;
  margin: 0;
}

.first-container {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  padding: 0 200px 80px 200px;
  gap: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  color: #F9FAF8;
  padding: 50px;
  opacity: 50%;
}

.links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-left: 0;
  margin-right: auto;
  font-size: 24px;
  color: #F9FAF8;
}

.main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.secondary-text,
.link {
  font-size: 13px;
  color: #E5E7EB;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 12.5px;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: #F9FAF8;
  width: 0;
  height: 0;
}

.button {
  background-color: #3882F6;
  padding: 15px 32px;
  border-radius: 8px;
  height: 2px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.second-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 25px 75px 25px;
}

.mid-image {
  border: 3px solid #3882F6;
  border-radius: 10px;
  width: 125px;
  height: 125px;
}

.images {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px;
  flex: 1;
}

.info {
  font-size: 36px;
  color: #1F2937;
}

.subtext {
  color: #1F2937;
  font-size: 13px;
  text-align: center;
  width: 125px;
  height: auto;
}

.third-container {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 85px 195px;
  flex-direction: column;
  gap: 20px;
}

.quote {
  font-size: 32px;
  font-style: italic;
  font-weight: 300;
}

.quote-source {
  color: #1F2937;
  font-weight: 900;
  font-size: 15px;
}

.fourth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 85px 110px;
}

.advertisement {
  color: #F9FAF8;
  background-color: #3882F6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 40px 150px;
  gap: 85px;
}

#signup-two {
  border: 1.5px solid #F9FAF8;
}

.signup {
  font-size: 13px;
}

h3 {
  margin: 0;
  padding: 0;
}